/* 导航栏居中*/
#nav-right{
    flex:1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
}

/* 子菜单横向*/
#nav .menus_items .menus_item:hover .menus_item_child{
  display: flex;
}


