html {
  height: 100%;
}

body {
  font-family: "Fjalla One", sans-serif;
  background: linear-gradient(to bottom, #eff2f6 0%, #c0d1d5 100%);
}

.container {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  max-width: 250px;
}

.button {
  float: left;
  position: relative;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%) rotate(-10deg);
  color: #e55643;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}
.button span {
  transform: skew(-10deg);
  display: block;
  float: left;
  text-shadow: #b5a0ac 1px 1px, #b5a0ac 2px 2px, #b5a0ac 3px 3px, #b5a0ac 4px 4px;
}


h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.625rem; /* 相对单位（rem）的字体大小 */
  margin: 0;
  line-height: 1.1176; /* 计算方式：line-height = 47px / 42px = 1.1176 */
  letter-spacing: 0.0476em; /* 计算方式：letter-spacing = 2px / 42px = 0.0476em */
}

/* 添加媒体查询以适应移动设备，根据需要进行调整 */
@media (max-width: 750px) {
  h1 {
    font-size: 2.4rem;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

/* 添加更小的媒体查询以进一步适应小屏幕设备 */
@media (max-width: 480px) {
  h1 {
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 0.16em;
  }
}




.title {
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  left: 40%;
  position: relative;
}
.title span {
  transform: skew(-10deg);
  display: block;
  float: left;
  text-shadow: #b5a0ac 1px 1px, #b5a0ac 2px 2px, #b5a0ac 3px 3px, #b5a0ac 4px 4px, #b5a0ac 5px 5px, #b5a0ac 6px 6px;
  min-width: 10px;
  min-height: 10px;
  position: relative;
}

.title:nth-child(1) {
  color: #e55643;
}
.title:nth-child(2) {
  color: #1b6d3e;
}
.title:nth-child(3) {
  color: #a59018;
}
.title:nth-child(4) {
  color: #3c9ed2;
}
.title:nth-child(5) {
  color: #26a0a8;
  white-space: nowrap; /* 添加此行，强制在一行中显示文本 */
}